html, body {
  margin: 0 auto;
  padding: 0 !important;
  position: relative;
  background-color: white;
  font-size: 9pt;
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  width: 100% !important;
  display: inline-block;
  height: 100%;
  text-decoration: none;
}

a:link {
  color: #5e7d93;
  text-decoration: none;
  border-bottom: 1px solid #c4c4c4;
  font-size: 9pt;
}

input#searchsubmit {
  color: #5e7d93;
}

ul {
  color: #5e7d93;
  list-style-type: square;
}

/* Bold, gold header. */
h1 {
  color: #cca80c;
  font-size: 13pt;
  margin-left: 40px;
  margin-right: 40px;
}

/* Bold, black header. */
h2 {
  font-size: 12pt;
  margin-left: 20px;
  margin-right: 20px;
}

/* Large, normal-weight header. */
h3 {
  font-size: 15pt;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: lighter;
}

/* Body text. */
h4 {
  font-size: 9pt;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: lighter;
}


.blog-footer {
  background-color: #e3ecf2;
  border-bottom: 1px solid #5e7d93;
  border-top: 1px solid #5e7d93;
  padding: 13px 50px 13px 13px !important;
  height: 33px;
  text-align: center;
}

.blog-footer a {
  font-size: 8pt;
  text-decoration: none;
  color: #5e7d93;
  border-bottom: none;
}

.blog-footer a:hover {
  border-bottom: 1px solid #5e7d93;
}

.blog-title {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none !important;
}

.blog-title a {
  text-decoration: none !important;
  font-size: 20pt;
  color: #5e7d93;
}

.blog-title a:visited {
  text-decoration: none !important;
  color: #5e7d93;
}

.line {
  border-bottom: 1px solid #5e7d93;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -10px;
}

.search-box {
  float: right;
  margin-right: 20px;
  margin-top: -20px;
  font-size: 8pt;
  color: #5e7d93;
}
